<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="zGTuoGu_KGwxM_4IalCRIsq3su_PXg8B2DukvF4YJzo" />
    <meta name="keywords" content="GameArena, Games, PC-Games, Games in 2020, Latest Games">
    <meta name="description" content="Free Games for all with google drive (gdrive) links">
    

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://img.icons8.com/cotton/64/000000/controller--v3.png" rel="shortcut icon"/>
    <script src="https://kit.fontawesome.com/5f9a00939d.js" crossorigin="anonymous"></script>
    <style>
        .navbar-brand{
            font-family: 'Press Start 2P', cursive;
            font-size: 30px;
        }

        body{
            background-image: url("https://wallpaperaccess.com/full/7511.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        .jumbotron{
          background: rgba(0,0,0,.6);
          backdrop-filter: blur(10px);
        }
        .jumbotron:before{
          background: inherit;
        }

        .card{
          background: inherit;
        }
        .bk{
          background-repeat: no-repeat;
          background-size: cover;
        }
        
        .card-title{
            color:white;
        }

        .card-text{
            color: white;
        }

    </style>
    
    <title>GameArena</title>
  </head>
  <body>
    <nav class="navbar bg-dark justify-content-between trans">
        <a class="navbar-brand" style="color: white;"><img class="img-fluid" src="/static/assets/brand/game.png" alt="Responsive image" width="140px" height="16px"><img class="img-fluid" src="/static/assets/brand/arena.png" alt="Responsive image" width="150px" height="24px"></a>
        
        <form class="form-inline" method="POST">
          <div class="input-group mb-3">
          <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search">
          <div class="input-group-append">
          <button class="btn btn-warning" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </div>
        </form>
      </nav>

      <div class="jumbotron" style="margin: 5px;">
        <h1 class="display-4" style="color: white;">Bonjour! 👋  </h1>
        <p class="lead" style="color: white;">Your favourite PC Games! 😱 All at one place 🔥 One Stop For You </p>
        <hr class="my-4 bg-light" >
        <p style="color: white;">Can't Download? Don't Worry We Have A solution. Click Below To start👇 </p>
        <p class="lead">
          <a class="btn btn-warning mt-3" href="https://youtu.be/Vn-y183ULts" role="button">How to Download</a>
          <a class="btn btn-warning mt-3" href="https://youtu.be/sBU-soH-fs8" role="button">How to Open Shrinkme.io links</a>
          <a class="btn btn-primary mt-3" style="background-color: #333333;border-color: black;" href="https://r15hav.github.io/My-Projects/" role="button"><i class="fab fa-github"></i></a>
          <a class="btn btn-primary mt-3" style="background-color: #ed302f ;border-color: black;" href="https://www.youtube.com/channel/UCR1aIx-5kZ82e6dCm-OPtzQ" role="button"><i class="fab fa-youtube"></i></a>
        </p>
        <p class="text-muted">⚠ This is a template for displaying my Web Dev skills.</p>
      </div>

      <div class="container mt-3">
        {% for g in games %}
          {% set list = g.split('#') %}
          <div class="bk rounded" style=" margin: 10px; background-image: url({{list[4]}}); padding: 0;">
          <div class="card" style=" background: rgba(0,0,0,.6);" >
            <div class="blr">
              <h6 class="card-header" style="color: white;">{{list[1]}}</h5>
            <div class="card-body">
              <h5 class="card-title">{{list[0]}}</h5>
              <p class="card-text">{{list[2]}}</p>
              <a href="{{list[3]}}" class="btn btn-warning">Download</a><span class="ml-3" style="color: white; font-size: medium;">{{list[5]}}</span>
            </div>
          </div>
        </div>
      </div>
        {% endfor %}
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>